*{
	margin: 0;
	padding: 0;
	font-family: 'Alata', sans-serif;
	box-sizing: border-box;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */	
}
*::-webkit-scrollbar {
    display: none;
}

/* #info{
	float: left;
} */

.card-info{
	padding: 10px;
	margin: 1rem;
	transition: 0.5s;
	min-width: 350px;
	background-color: #000000;
	border: 1px solid #dee2e6;
	border-radius: 10px;
	max-block-size: 100%;
	
}

.image{
	width: 100%;
	height: auto;
	display: block;
	margin: 0;
	object-fit: cover;
	padding: 15px;
	text-align: center;
	border-radius: 1.25rem;
	margin-bottom: 1rem;
    float: left;
	
}
.textbox{
	padding: 10px;
	color: #fff;
	line-height: 1.5;
	margin-bottom: 0.5rem
	
}

.textbox h3{
	padding-top: 5px;
	padding-bottom: 5px;
}
p {
	line-height: 1.5;
	margin: 0 auto 1em;
}
