
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Alata', sans-serif;
	box-sizing: border-box;
	/* overflow: hidden; */
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */	
}
*::-webkit-scrollbar {
    display: none;
}

#display{
	display: flex;
	flex-wrap: wrap;
	justify-items: center;
}

.card{
	padding: 10px;
	margin: 2rem;
	transition: 0.5s;
	min-width: 350px;
	background-color: #000000;
	border: 1px solid #dee2e6;
	border-radius: 10px;
	max-block-size: 100%;
	float: left;
	width: 25%;
	height: 100%;

}
img{
	width: 100%;
	height: 160px;
	display: block;
	margin: 0 auto;
	object-fit: cover;
	padding: 0;
	text-align: center;
	border-radius: 1.25rem;
	margin-bottom: 1rem;
	
}
.text{
	color: #fff;
	line-height: 1.5;
	margin-bottom: 0.5rem;
	display: -webkit-box;
   -webkit-line-clamp: 8; /* number of lines to show */
           line-clamp: 8; 
   -webkit-box-orient: vertical;
}

.text h3{
	padding-top: 5px;
	padding-bottom: 5px;
}
p {
	line-height: 1.5;
	margin: 0 auto 1em;
}

/* CSS */
.button-17 {
  justify-content: center;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 14px;
  font-weight: 500;
  height: 35px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}


.button-17:hover {
  background: #F6F9FE;
  color: #000000;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #000000;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
